
.container{
    background-color:lightskyblue; 
    text-align: center; 
    width: 500px;
    background-image: url("https://th.bing.com/th/id/R.20055e0e66d31c4e922bf32eb6706790?rik=Zhtx9EPr5bJ0Gg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2ff%2f9%2fa%2f399964.jpg&ehk=7LC34FxJ%2fuIAi%2fp80nKZAE893Jy%2fJbPjQWsGFvSl5SU%3d&risl=&pid=ImgRaw&r=0");
}
