<p>pipe works!</p>
<h4 style="color: red;">Original String:....{{Name}}</h4>
<h4 style="color: springgreen;">UpperCase Text:.....{{Name | uppercase}}</h4>
<hr>
<h4 style="color: teal;">LowerCase Text:....{{Name | lowercase}}</h4>
<hr>
<h4 style="color: darkgoldenrod;">TitleCase Text:...{{Name | titlecase}}</h4>
<hr>

<h4 style="color: purple;">Slice Text:.....{{Name |slice:2:4}}</h4>
<hr>
<h4 style="color: sienna;">Json Value:...{{student | json}}</h4>
<hr>
<h4 style="color: blue;">Date:....{{today | date:'fullDate'}}</h4>
<h4></h4>
<h4 style="color: tomato;">Date:..........{{today |date:'short'}}</h4>
<hr>
<h4 style="color: yellow;">Currency:.............{{salary |currency:'IND'}}</h4>
<hr>
<h4 style="color: aqua;">currency:..............{{salary |currency:'USD'}}</h4>
