.container{
    background-color: rgba(23, 23, 227, 0.34);
    border: none;
    width: 500px;
    background-image: url("https://images.pexels.com/photos/632163/pexels-photo-632163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    
}